html {
    background-color: rgb(135, 172, 241);
}

h1 {
    text-align: center;
}

ul {
    list-style: none;
}

#quizWindow {
    border: 2px solid black;
    padding-bottom: 50px;
}

img{
    width: 30%;
}

.hidden{
    display: none;
}